.button {
    padding: 20px 100px;
    margin: 12px 16px;
    border: 4px;
    
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  #grey {
    background-color: grey;
    color: white;
  }
  
  #white {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  #blue {
    background-color: blue;
    color: white;
  }
  
  #yellow {
    background-color: yellow;
    color: black;
  }
  
  
  .button:hover {
    opacity: 0.8;
  }